<section class="gitalk" id="comments">
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css"></link>
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <div id="gitalk-container"></div>
    <script>
        var loadComment = function() {
            var gitalk = new Gitalk({
                clientID:  '<%= theme.gitalk.clientID %>',
                clientSecret: '<%= theme.gitalk.clientSecret %>',
                repo: '<%= theme.gitalk.repo %>',
                id: window.location.pathname,
                owner: '<%= theme.gitalk.owner %>',
                admin: '<%= theme.gitalk.admin %>',
                distractionFreeMode: '<%= theme.gitalk.distractionFreeMode %>'
            })
            gitalk.render('gitalk-container')
        }
    </script>
    <%- partial('click2show') %>
</section>